@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap");

.form-control:valid {
    background-color: white;
}
input[type="text"] {
    background: #edf8ff;
}
input[type="password"] {
    background: #edf8ff;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #edf8ff;
    background-clip: border-box;
    border: none;
    border-radius: 1rem;
}
body {
    font-family: "Poppins" !important;
}
.text-primary {
    color: #4650dd !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 700;
    line-height: 1.2;
}
.text-muted {
    color: #6c757d !important;
}
.lead {
    font-size: 1.125rem;
    font-weight: 300;
}
.text-sm {
    font-size: 0.7875rem !important;
}
h3,
.h3 {
    font-size: 1.575rem;
    padding-bottom: 3rem;
}
.page-holder {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - 72px);
    flex-wrap: wrap;
}
a {
    color: #4650dd !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.btn-full {
    width: 100%;
}
