<div class="page-holder align-items-center py-4  vh-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4"
                    width="300" src="../../assets/images/login_img.png" alt="">
            </div>
            <div class="col-lg-6 px-lg-4">
                <div class="card">
                    <div class="card-body p-lg-5">
                        <h3 class="mb-4">Account Login</h3>
                        <form (ngSubmit)="onSignin(f)" id="loginForm" #f="ngForm">

                            <div class="form-group mb-3">
                                <label for="">Username</label>
                                <input type="text" class="form-control" id="email" name="email" ngModel required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="">Password</label>
                                <input type="password" class="form-control" id="password" name="password" ngModel
                                    required>
                            </div>
                            <div class="form-check mb-3">

                                <input class="form-check-input" [checked]="checkboxValue" [ngModel]="checkboxValue"
                                    type="checkbox" name="remember" id="remember">

                                <label class="form-check-label" for="remember">Remember me</label>


                            </div>
                            <button class="btn btn-primary btn-md btn-full" type="submit"
                                [disabled]="!f.valid">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>