<!-- <nav>
  <a class="button" routerLink="/login" routerLinkActive="active">Login</a> | <a class="button" routerLink="/navbar">Navbar</a>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>